@import "bootstrap/bootstrap.scss";
@import "media.scss";

.wrapper{
	width: 1100px;
	margin: 0 auto;
	z-index: 0;
}

.header{
	&__menu{
		height: 55px;
		background: linear-gradient(to top, black, $black);
	}
	&__mystic{
		font-family: Evanescent;
		font-size: 3em;
		font-weight: bold;
		width: 10%;
		float: left;
		color: #fff;
		margin: 3px 2% 0 5%;
	}
	&__list{
		list-style-type: none;
	}
	&__item{
		display: inline;
		float: left;
		width: 7%;
		text-align: center;
		margin-left: 1%;
		margin-top: 9px;
		font-family: Futura;
		box-shadow: 0 0.8px 3px -1.5px #fff, 0 -1px 3px -0.5px #000;;
		background: linear-gradient(to top, black, $black);
			&:hover{
				background: linear-gradient(to top, $black, black);
			}
	}
	&__link{
		color: #fff;
		text-decoration: none;
		display: block;
		height: 26px;
		padding-top: 11px;
		&:hover{
			color: $blue;	
		}
	}

	&__search{
		height: 30px;
	}
	&__input{
		margin-left: 10%;
		width: 20%;
		text-align: center;
		font-style: italic;
		height: 30px;
		background: linear-gradient(to top, $black, black);
		border: none;
		color: #fff;
		&:focus{
			outline: 0;
		}
	}
	&__arrow{
		position: relative;
		top: 12.5px;
		border: none;
		margin-top: -5px;
		background: linear-gradient(to top, black, #202020);
	}

	&__computer{
		background-image: url(../images/computer.png);
		height: 250px;
	}
	&__exclusive{
		color: #32a9e7;
		font-size: 1.8em;
		padding-top: 45px;
		padding-left: 10%;
	}
	&__purchase{
		font-size: 1.5em;
		font-weight: bold;
		color: #fff;
		background-color: $black;
		padding: 1%;
		width: 25%;
		text-align: center;
		box-shadow: 1px 1px 5px 0 #fff;
		border-radius: 5px;
		margin-top: 30px;
		margin-left: 10.5%;
	}

	&__page{
		background-color: $black;
		padding: 2%;
	}
	&__container{
		text-align: center;
		margin: 0 auto;
	}
	&__roll{
		border-radius: 50%;
		border: 5px solid grey;
		display: inline;
		margin-left: 0.3em;
		padding: 0% 0.8% 0% 0.8%;
		&:hover{
			border: 5px solid $blue;
		}
	}

	&__btn{
		padding: 1%;
		width: 3.5%;
		background-color: $black;
		border: 1px solid black;
		box-shadow: 0 0 1px 0.2px #fff;
		border-radius: 50%;
		position: relative;
		&:focus{
			outline: 0;
		}
		&_left{
			float: left;
			top: -12px;
			margin-left: 2%;
			padding-left: 2%;
			padding-right: 1.7%;
		}
		&_right{
			float: right;
			top: -27px;
			width: 4%;
			margin-right: 2%;
			padding-left: 0.2%;
		}
	}
	&__left{
		transform: rotate(-45deg);
		height: 17px;
		width: 17px;
		box-shadow: -5px -4px 0 0 grey, -4px -5px 0 0 grey;
		&:hover{
			box-shadow: -5px -4px 0 0 $blue, -4px -5px 0 0 $blue;
		}
	}
	&__right{
		transform: rotate(135deg);
		height: 17px;
		width: 17px;
		box-shadow: -5px -4px 0 0 grey, -4px -5px 0 0 grey;
		&:hover{
			box-shadow: -5px -4px 0 0 $blue, -4px -5px 0 0 $blue;
		}
	}
}

.main{
	&__gradient{
		height: 60px;
		background: linear-gradient(to top, white, #c1c0c0);
	}

	&__text{
		width: 95%;
		margin: 0 auto;
	}

	&__service{
		width: 47.5%;
	}
	&__welcome{
		color: $blue;
		font-weight: bold;
		font-size: 2.5em;
		font-family: Futura-Heavy;
	}
	&__greytext{
		color: #ababab;
		font-family: Futura-Heavy;
	}
	&__images{
		float: left;
		width: 15%;
		margin-left: 3.5%;
	}
	&__img{
		margin-top: 25px;
		&_margin{
			margin-left: 6%;
		}
	}
	&__catalog{
		width: 65%;
		margin-top: 25px;
		margin-left: 25%;
	}
	&__list{
		list-style-type: none;
		font-family: MyriadPro-Regular;
	}
	&__item{
		margin-top: 20px;
	}
	&__more{
		width: 30%;
		text-align: center;
		padding: 10px 0 10px 0;
		margin-left: 70%;
		margin-top: -20px;
		border-radius: 5px;
		background: linear-gradient(to top, $black, grey);
	}
	&__roll{
		text-decoration: none;
		color: #fff;
		font-family: Futura-Heavy;
		display: block;
	}
}